<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>Schema file:</strong>
</p>
<pre>
<%= @document.schema_file_content %>
</pre>
